# [Codecov](https://codecov.io/gh/coredns/coredns/pull/3534?src=pr&el=h1) Report
> Merging [#3534](https://codecov.io/gh/coredns/coredns/pull/3534?src=pr&el=desc) into [master](https://codecov.io/gh/coredns/coredns/commit/e8f94d28c1e250739b87448536a84fdb28d08033&el=desc) will **increase** coverage by `0.07%`.
> The diff coverage is `75.73%`.

[![Impacted file tree graph](https://codecov.io/gh/coredns/coredns/pull/3534/graphs/tree.svg?width=650&height=150&src=pr&token=Ji3zZaIzpC)](https://codecov.io/gh/coredns/coredns/pull/3534?src=pr&el=tree)

```diff
@@            Coverage Diff             @@
##           master    #3534      +/-   ##
==========================================
+ Coverage   56.60%   56.68%   +0.07%     
==========================================
  Files         220      222       +2     
  Lines       11039    11299     +260     
==========================================
+ Hits         6249     6405     +156     
- Misses       4311     4401      +90     
- Partials      479      493      +14     
```


| [Impacted Files](https://codecov.io/gh/coredns/coredns/pull/3534?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [plugin/dns64/setup.go](https://codecov.io/gh/coredns/coredns/pull/3534/diff?src=pr&el=tree#diff-cGx1Z2luL2RuczY0L3NldHVwLmdv) | `67.92% <67.92%> (ø)` | |
| [plugin/dns64/dns64.go](https://codecov.io/gh/coredns/coredns/pull/3534/diff?src=pr&el=tree#diff-cGx1Z2luL2RuczY0L2RuczY0Lmdv) | `80.72% <80.72%> (ø)` | |
| [plugin/azure/azure.go](https://codecov.io/gh/coredns/coredns/pull/3534/diff?src=pr&el=tree#diff-cGx1Z2luL2F6dXJlL2F6dXJlLmdv) | `10.37% <0.00%> (-5.45%)` | :arrow_down: |
| [plugin/azure/setup.go](https://codecov.io/gh/coredns/coredns/pull/3534/diff?src=pr&el=tree#diff-cGx1Z2luL2F6dXJlL3NldHVwLmdv) | `62.79% <0.00%> (-4.82%)` | :arrow_down: |
| [plugin/forward/forward.go](https://codecov.io/gh/coredns/coredns/pull/3534/diff?src=pr&el=tree#diff-cGx1Z2luL2ZvcndhcmQvZm9yd2FyZC5nbw==) | `51.61% <0.00%> (-3.56%)` | :arrow_down: |
| [plugin/pkg/parse/host.go](https://codecov.io/gh/coredns/coredns/pull/3534/diff?src=pr&el=tree#diff-cGx1Z2luL3BrZy9wYXJzZS9ob3N0Lmdv) | `77.41% <0.00%> (-0.92%)` | :arrow_down: |
| [plugin/hosts/hosts.go](https://codecov.io/gh/coredns/coredns/pull/3534/diff?src=pr&el=tree#diff-cGx1Z2luL2hvc3RzL2hvc3RzLmdv) | `78.68% <0.00%> (-0.35%)` | :arrow_down: |
| [test/server.go](https://codecov.io/gh/coredns/coredns/pull/3534/diff?src=pr&el=tree#diff-dGVzdC9zZXJ2ZXIuZ28=) | `82.75% <0.00%> (ø)` | |
| [plugin/test/scrape.go](https://codecov.io/gh/coredns/coredns/pull/3534/diff?src=pr&el=tree#diff-cGx1Z2luL3Rlc3Qvc2NyYXBlLmdv) | `0.00% <0.00%> (ø)` | |
| [plugin/trace/trace.go](https://codecov.io/gh/coredns/coredns/pull/3534/diff?src=pr&el=tree#diff-cGx1Z2luL3RyYWNlL3RyYWNlLmdv) | `79.06% <0.00%> (ø)` | |
| ... and [17 more](https://codecov.io/gh/coredns/coredns/pull/3534/diff?src=pr&el=tree-more) | |

------

[Continue to review full report at Codecov](https://codecov.io/gh/coredns/coredns/pull/3534?src=pr&el=continue).
> **Legend** - [Click here to learn more](https://docs.codecov.io/docs/codecov-delta)
> `Δ = absolute <relative> (impact)`, `ø = not affected`, `? = missing data`
> Powered by [Codecov](https://codecov.io/gh/coredns/coredns/pull/3534?src=pr&el=footer). Last update [e8f94d2...d42cc60](https://codecov.io/gh/coredns/coredns/pull/3534?src=pr&el=lastupdated). Read the [comment docs](https://docs.codecov.io/docs/pull-request-comments).


I'll cleanup the README some more.

FYI, @miekg, @squeed is working on some improvements to this code. So hold off on going over the Go work too much. :)

[ Quoting <notifications@github.com> in "Re: [coredns/coredns] WIP: Add dns6..." ]
>I'll cleanup the README some more.
>
>FYI, @miekg, @squeed is working on some improvements to this code. So hold off on going over the Go work too much. :)

:-) and +1


[ Quoting <notifications@github.com> in "Re: [coredns/coredns] WIP: Add dns6..." ]
>SuperQ commented on this pull request.
>
>
>
>> +			return dns64, c.ArgErr()
>+		}
>+
>+		for c.NextBlock() {
>+			switch c.Val() {
>+			case "prefix":
>+				if !c.NextArg() {
>+					return dns64, c.ArgErr()
>+				}
>+				pref, err := parsePrefix(c, c.Val())
>+
>+				if err != nil {
>+					return dns64, err
>+				}
>+				dns64.Prefix = pref
>+			case "translateAll":
>
>I feel `translate_all` is more explicit about what is "all".

works for me


Ok, I've merged the major cleanup by @squeed and cleaned up all the review items. I un-WIPd. PTAL.

does this impact dnssec responses?

@bradbeam Good question, I'm not an expert in DNSSEC. There is [RFC 6147 Section 3](https://tools.ietf.org/html/rfc6147#section-3), and a few other notes about interactions.

[ Quoting <notifications@github.com> in "Re: [coredns/coredns] Add dns64 plu..." ]
>@bradbeam Good question, I'm not an expert in DNSSEC. There is [RFC 6147 Section 3](https://tools.ietf.org/html/rfc6147#section-3), and a few other notes about interactions.

might be worth adding a few lines in a Bug section for this; at least referencing this RFC
in the See Also section.


There's already a note about it in the Bugs section. How about something like this:

```
* Make resolver DNSSEC aware. See: [RFC 6147 Section 3](https://tools.ietf.org/html/rfc6147#section-3)
```

> There's already a note about it in the Bugs section. How about something like this:

missed that, sorry. 

+1 for the link 

Works for me

On Mon, 27 Jan 2020, 16:55 Brad Beam, <notifications@github.com> wrote:

> There's already a note about it in the Bugs section. How about something
> like this:
>
> missed that, sorry.
>
> +1 for the link
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/coredns/coredns/pull/3534?email_source=notifications&email_token=AACWIW2ZGBWAYX6XW4BJQWDQ74GYNA5CNFSM4JZ52D52YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEKAHLPY#issuecomment-578844095>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AACWIW4T34ISBUGBUD6TGBLQ74GYNANCNFSM4JZ52D5Q>
> .
>


@miekg Any chance of getting this in before FOSDEM? :grin: 

[ Quoting <notifications@github.com> in "Re: [coredns/coredns] Add dns64 plu..." ]
>@miekg Any chance of getting this in before FOSDEM? :grin:

mucho's nits/comments mostly on the tests.


@superQ you managed to fix all the nits I listed? Then lgtm

No, not all of them, I still need to cleanup a few more things. Just been busy with $dayjob.

no worries, know the feeling :) Ping me when ready

@miekg Updated - thanks, COVID-19. Let me know what you think.

[ Quoting <notifications@github.com> in "Re: [coredns/coredns] Add dns64 plu..." ]
>squeed commented on this pull request.
>
>
>
>> +					Response:         true,
>+				},
>+				Question: []dns.Question{dns.Question{"example.com.", dns.TypeAAAA, dns.ClassINET}},
>+				Answer: []dns.RR{
>+					rr("example.com. 60 IN AAAA 64:ff9b::192.0.2.42"),
>+					// override RR ttl to SOA ttl, since it's lower
>+					rr("example.com. 70 IN AAAA 64:ff9b::192.0.2.43"),
>+				},
>+			},
>+		},
>+		{
>+			// name exists, but has neither A nor AAAA record
>+			name: "a empty",
>+			req: &dns.Msg{
>+				MsgHdr: dns.MsgHdr{
>+					Id:               42,
>
>Hmm, wouldn't it be better to test that the full response is as expected?

that's already tested in numerious places; please test what you need, and make it small
and understandable


I was just testing this plugin and it doesn't seem to function as expected. Very simple Corefile of 
```
.:53 {
  dns64 64:ff9b::/96
  forward . 8.8.8.8
}
```
No AAAA requests are translated.

@artooro Please open an issue, rather than comment on a pull. Please include all steps to reproduce, including your network configuration.