> This behavior is of particular interest to us: it is preferable to request a response from the authoritative source before serving expired cache.

There are pros and cons to checking _before_ serving stale cache vs _after_ (as implemented currently).
_before_ pro - You get up-to-date answers immediately when the upstream starts responding again.
_before_ con - It makes serving stale cache much slower.

I think both behaviors are valid and which behavior you prefer depends on what your priority is.

If we add this behavior, I think it should be optional and default to the current behavior (for backward compatibility).  I don't think there is a need for adding a timeout option, just an extra option to enable the "before" behavior. e.g. 
```
serve_stale [DURATION] [before|after]
```
... where "before" will try upstream first, and only serve stale cache if it times out.

> `serve_stale_response_ttl` is the TTL to return with stale responses when using serve_stale.

Is the rationale for adding this knob to make clients which maintain their own cache keep the answer in their cache?  This would seem to work against the "pros" of checking before (client could use cached stale responses after upstream goes healthy).

> Is the rationale for adding this knob to make clients which maintain their own cache keep the answer in their cache? This would seem to work against the "pros" of checking before (client could use cached stale responses after upstream goes healthy).

[It's explained in the RFC.](https://www.rfc-editor.org/rfc/rfc8767.html#section-6-6)

👋🏻  Hey there!

I've submitted PR #4756 based on @chrisohaver's feedback and proposed syntax. I feel like this is a good optional feature to be able to fulfil this part on Section 7 of [RFC 8767](https://datatracker.ietf.org/doc/rfc8767/):

> Stale data is used only when refreshing has failed in order to adhere
   to the original intent of the design of the DNS and the behavior
   expected by operators.  If stale data were to always be used
   immediately and then a cache refresh attempted after the client
   response has been sent, the resolver would frequently be sending data
   that it would have had no trouble refreshing. 
   
For DataDog's use case, we can't rely on the `serve_stale` setting at all if we can't tweak this behaviour. We are constantly changing the topology of our deployments, have multiple redundant coreDNS nodes and some addresses that are resolved rather infrequently.

In this kind of setup, having `serve_stale` active as is with the current asynchronous fetch behaviour results in many stale records being returned while the upstream is very rarely unavailable. We'd rather have increased latency whenever we do have an upstream outage than have hard-to-debug resolution "failures" from the point of the view of the clients because of a stale record being served after a change in topology.

I would like to also add @irlevesque's proposed parameters:

> - `serve_stale_response_ttl [DURATION]` is the TTL to return with stale responses when using serve_stale. When `serve_stale_response_ttl` is unspecified, `DURATION` defaults to 30s.
> - `serve_stale_backend_timeout [DURATION]` is a timer for cache's serve_stale to attempt resolution from the backend before serving stale responses. When `serve_stale_backend_timeout` is unspecified, `DURATION` defaults to 30s.)

But wanted to gather feedback from the maintainers like @chrisohaver and @miekg first, since I've seen some other proposals (like issue #4097) in the same vein that have not gone through. I think that issue #4199 is also relevant in this case, as this would implement the behaviour proposed by @miekg :

> Another approach is when `serve_stale` is active to check the response from whatever the upstream is and if it's not an answer (like the thing we cached before, or potentially a new reply all together), we reply with the old one. This mimics "last-known-good-behavior" which is a good strategy for surviving outages. It's also more dynamic, doesn't require a duration option and may be actually be "on" by default.

The bulk of RFC 8767 is implemented by #5131, but leaving this issue open since [other aspects of RFC 8767](https://github.com/coredns/coredns/pull/5131#issuecomment-1023208795) are not yet implemented.

Hi, is there a plan to implement the rest parts? I met a case that can take use of `serve_stale immediate`(or `serve_stale verify` with bounded response time) to survive upstream failure.

Currently negative cache takes precedence over positive cache when using `serve_stale immediate`. And `serve_stale verify` might be slow to response when upstream is slow. Hence I couldn't find out a proper configuration to work with a flaky upstream server.

If @atollena is occupied, perhaps I can submit a PR that tweaks the behavior of `serve_stale immediate` or implements the client response timer?

> Currently negative cache takes precedence over positive cache when using `serve_stale immediate`.

Can you explain in detail with an example of what you mean by this?

I don't plan to work on implementing the rest of RFC8767 (those aspects detailed in https://github.com/coredns/coredns/pull/5131#issuecomment-1023208795, if that's what you are talking about). But I still think they would be useful.

I took another look at the latest code(instead of v1.9.3), with #5320 the SERVFAIL response can be ignored, so **problem solved**.

<br></br>
Here is what I meant in previous comment(never mind now).
> > Currently negative cache takes precedence over positive cache when using `serve_stale immediate`.
> 
> Can you explain in detail with an example of what you mean by this?

Say we have a stale positive cache of example.com's A record. A client sends a request to resolve example.com, the stale cache is returned immediately, and a doPrefecth request to upstream is emited. The prefetch request will refresh cache with response of upstream(even if the response is SERVFAIL). https://github.com/coredns/coredns/blob/66f2ac7568ccb0178cc9ce6dbd7320bcd3428d64/plugin/cache/cache.go#L159-L161

What I mean takes precedence is cache plugin tries to find cache entry from ncache before pcache, so the SERVFAIL response is returned on later requests.
https://github.com/coredns/coredns/blob/66f2ac7568ccb0178cc9ce6dbd7320bcd3428d64/plugin/cache/handler.go#L107-L115

> What I mean takes precedence is cache plugin tries to find cache entry from ncache before pcache, so the SERVFAIL response is returned on later requests.

In that case SERVFAIL gets served because it’s not expired, not because it’s a negative response.