Can you elaborate?

So sorry, must have pressed a button to submit before I was ready. Still writing out my proposal.

@chrisohaver Sorry for prematurely posting, could you reopen this?

> [RFC8914, section 3](https://www.rfc-editor.org/rfc/rfc8914#section-3) allows for extended error messages to optionally be conveyed downstream (attributing the source of the message).

This is implemented in the _forward_ plugin.
I think using the word "forward" in the context of _cache_ is confusing.  A clearer syntax would be...

```
cache . {
  ede 1 2 4 5 6
}
```

On the surface, this seems reasonable to add even though it violates DNS cache RFCs. We could warn in the README that enabling the option violates DNS cache standards - "use at your own risk".

However there is a complication in that we do not use client's _request_ edns capability as part of the cache key, so there would be collision of responses between edns requests and non-dns requests. IOW, requests with and without edns will pull from the same cache entry for a given domain name.  This is conceptually very similar to the DNSSEC cache issue we have faced.  Adding to the key would grow (potentially double) the size of the cache.  Alternate workarounds could be complex and have problematic edge cases - such as adding edns to all requests as they come in, caching the edns opts of the response, and later strip responses of the edns section at cache retrieval time if the current request is non-edns.

I'm curious if other dns cache implementations have options for caching edns options.
