BTW, happy to provide a patch to this, but would like to first come up with a satisfiable solution which make sense for both CoreDNS and users of the github.com/coredns/coredns/request package.

I'm unsure if this is needed. When are replies so big that we fill up the (large) buffer
size? And if you have those large replies you may actually want to be able to serve them
over udp


@miekg I suppose large is subjective. One may consider large anything over 512, 1232 or whatever they may decide.

As it is, large is essentially decided by what the client sends in edns0, not by the server.

> And if you have those large replies you may actually want to be able to serve them over udp

Sure, or you may want to force them over TCP to prevent being used as an amplification vector. The `bufsize` plugin is kind of addressing this but I think there is a few rough edges which I tried to explain  when I opened this issue.


@miekg checking back on this one. Do you see any other ways to make sure that the server controls the maximum size it is willing to send out, and not the client?

The bufsize plugin could possibly be modified to handle this and be RFC if it was not adding EDNS when it is not present in the first place and only setting the new UDP Size if requested size > bufsize config.
This would work, albeit it would still not differentiate between client EDNS0 bufsize (what a client is willing to receive in a response), and server EDNS0 bufsize (what a server is willing to receive during a request for stuff like UPDATEs and such).

@miekg #4464 should illustrate the change that I had in mind to prevent sending UDP messages where the max size if driven by the client.
This does not address the fact that the response's bufsize mirrors the client's. But I think this can easily be address by bufsize as is.

when do you send replies this big?

I'm hesitant for this change because there is no RFC mandating it. I'm welcoming this change because of self preservation. But if you have an actual use-case for this I think it should be OK (this disregards any UDP fragmentation, which is another can of worms)

Thanks @miekg ,

> I'm hesitant for this change because there is no RFC mandating it.

Correct, this is not something mandated by RFC, [RFC2671](https://tools.ietf.org/html/rfc2671) is rather vague on this subject, the security consideration section talks about ICMP storm, but that is about it. The meaning of responder's UDP size is also not very clear, it is explained in [rfc2671#section-4.5.4](https://tools.ietf.org/html/rfc2671#section-4.5.4). I think this [KB from ISC](https://kb.isc.org/docs/aa-01350) does a good job at explaining the common misunderstanding:

> What's in a Query Response?
If you have been testing servers using dig or monitoring DNS queries and responses with packet tracing, you will have observed that servers also advertise an EDNS buffer size when they respond to clients. Intuitively you might expect them to be advertising the maximum payload they can respond with to a client. This would be incorrect! What they are advertising is the maximum size they can receive as a client. There is a good reason for this - and that is to provide a mechanism by which a client about to send a dynamic UPDATE to a server can test to find out the acceptable size limit beforehand by using a trivial QUERY - otherwise there is no other mechanism by which this can be determined. This is covered in section 4.5.4 of RFC 2671

I think in the end, the client is basically **_signaling_** that it can receive up to `bufsize`, but nothing mandates that the server uses this value, and if it cannot fit in what the server can handle to serve out, it will then truncate per RFC1035.

 
> I'm welcoming this change because of self preservation. 

Yes, this is exactly what it is. Well, self-preserving as well as preserving others from big answers via reflection/amplification :).

> But if you have an actual use-case for this I think it should be OK

The main use case is that for 99.99% of the cases, we reply small answers (typically something below 100 bytes), but there is always some answers that may be bigger (typically due to a mixture of TXT records used for a variety of reasons: site validations, SPF...), possibly ANY if one does not wish to apply [RFC8482](https://tools.ietf.org/html/rfc8482), `dig any cpsc.gov +notcp @one.of.its.nameserver` is currently returning 3.3k answers, which seems [better than what it used to be](https://blog.cloudflare.com/how-the-consumer-product-safety-commission-is-inadvertently-behind-the-internets-largest-ddos-attacks/)).
Those large answers can be used as a mean to run reflection/amplification attacks. The smaller the answer (over UDP), the least attractive to this type of attacks.
Forcing legitimate client to perform those rare queries over TCP is fine.

Controlling what people put in the DNS, while gated, can be tricky, even more so when automation comes into play. Being able to enforce administratively  at the server level the maximum size of UDP packets to be sent out ensures that whatever may end up in the zone, the abuse is limited.

Other authoritative servers have something similar implemented: [PowerDNS's udp-truncation-threshold](https://doc.powerdns.com/authoritative/settings.html#udp-truncation-threshold), [Bind's max-udp-size](https://bind9.readthedocs.io/en/latest/reference.html?highlight=max-udp-size#tuning), [Knot's udp-max-payload](https://www.knot-dns.cz/docs/2.9/html/reference.html#udp-max-payload) (formerly max-udp-payload), and I believe [NSD's ipv{4,6}-edns-size](https://www.nlnetlabs.nl/documentation/nsd/nsd.conf/#ipv4-edns-size), and I think the PR associated with this issue is how one would support DNS flagday 2020.

@miekg what do you think about this PR? Anything that need to be changed?

Hi folks,

Checking back to see what the opinion is on this issue/PR? Anything in #4464 that would need to be changed?

Thanks

No I'm not willing to make this change, as coredns is probably used in a lot of whacky settings where it provides SD for some internal network. A max buffer can fit 1500 SRV records if you have those SD requirements there is no need to impose an arbitrary maximum. For an internet facing setup you should just not do this.

Thanks for explaining the reasoning here @miekg .

Would making the default 4096, as commented in https://github.com/coredns/coredns/pull/4464#pullrequestreview-589789205 , be a reasonable tradeoff? Or do you think there is enough chances that people have purposefully set their client's Bufsize greater than 4096?
This would probably provide the backward compatibility needed while giving an opportunity to control the max size from the server side if one wishes to.
Alternatively, default (e.g 0) could be considered an unrestricted (current behaviour), and again, leaving an opportunity on the server side to clamp the max size if needed.

