FYI, @xdu31 copying @miekg's comments from https://github.com/coredns/coredns/pull/4599#issuecomment-850348435

> anyways, finally have some time to comment/take a look. So the issue is/was that the current lookup algo should not have to change in response to this change. Adding a new element and taking Next() is thus probably not the right choice.
>
> Also, I didn't think the tree is sorted and the layout of the elements depends on the insertion of them. I know, 'cause I tried doing this with NSEC and it did not work, although my tests all proved correct, but then I tried with larger zones and the whole thing fell apart.

> FYI, @xdu31 copying @miekg's comments from [#4599 (comment)](https://github.com/coredns/coredns/pull/4599#issuecomment-850348435)
> 
> > anyways, finally have some time to comment/take a look. So the issue is/was that the current lookup algo should not have to change in response to this change. Adding a new element and taking Next() is thus probably not the right choice.
> > Also, I didn't think the tree is sorted and the layout of the elements depends on the insertion of them. I know, 'cause I tried doing this with NSEC and it did not work, although my tests all proved correct, but then I tried with larger zones and the whole thing fell apart.

Hi @miekg, thanks for the review, I will try to see if it can be done in another way later some time. Also would it be possible to get a larger test zone test zone from you?

have re-read the rfc. This is def. an issue. I'll take a look if the search algo needs big changes are not.
My understanding of wildcard domains didn't change only domains with left most label is "*" are wildcards, but the above is a bug

> My understanding of wildcard domains didn't change only domains with left most label is "*" are wildcards

Agreed.  Empty non-terminal wildcards (wildcard symbol not in left most label), are _proposed_ in https://tools.ietf.org/html/rfc4592#section-2.1.3.  Although it's clear that they propose lifting the restriction, the RFC is ambiguous on the matter of how such records would behave.  It also seems to suggest that the original restriction permitted them ... ` but the [section 4.3.3 of RFC 1034] restriction as stated still permits "example.*.example." for instance.` ... which to me is clearly not true.

Anyways, this PR and corresponding issue #4290 are not related to empty non-terminal wildcards.

Another open issue not related to this PR does touch on empty non-terminal wildcards: #4256.



[ Quoting ***@***.***> in "Re: [coredns/coredns] [Re-apply #45..." ]
***@***.*** approved this pull request.

still not sure this is the correct fix. Checking it is (somewhat) annoying, as I need to
implement the fix to see how it compares


> still not sure this is the correct fix. Checking it is (somewhat) annoying, as I need to implement the fix to see how it compares

Understood, I'm just carrying forward my approval from when the original was open.
I had previously tested locally using the GitHub cli tool... `gh pr checkout 4655`, which is how I confirmed some of the problems with the intermediate iterations of the PR (that were not yet covered by tests).

