middleware/file: Include DS in secure delegation

Delegations from the _file_ middleware are lightly tested and we probably also don't include the DS records when we reply to a DNSSEC request with a delegation.

Might also be a problem for the _dnssec_ middleware.

All in all: needs tests to check for this and possible fixes.


this is a bigger issue than I though.. the whole look up in _file_ is wrong. I was assuming some structure in a bin. tree which isn't there. The lookup needs to be per label and add labels as we search. This will make wildcards, CNAME etc all easier. We can also drop `Result` from tree, because it will be found or not (_maybe_ we need wildcard match). Basically RFC 1034 Section 4.3.2


Has been fixed.
