After looking into how bind9 handles this case, I realize that there is one more complication.

Quoting [RFC9499 section 4 on referrals](https://www.rfc-editor.org/rfc/rfc9499.pdf):
> In the case where the query matches an alias, and the server is not authoritative for the target of the alias but is authoritative for some name above the target of the alias, the resolution algorithm will produce a response that contains both the authoritative answer for the alias and a referral. Such a partial answer and referral response has data in the Answer section. It has the NS RRset for the referred-to zone in the Authority section. It may contain RRs that provide addresses in the Additional section. **The AA bit is set** because the first name in the Answer section matches the QNAME and the server is authoritative for that answer (see [RFC1035], Section 4.1.1).

And the [RFC1035 part mentioned](https://datatracker.ietf.org/doc/html/rfc1035#section-4.1.1):
> AA              Authoritative Answer - this bit is valid in responses,
                and specifies that the responding name server is an
                authority for the domain name in question section.
                Note that the contents of the answer section may have
                multiple owner names because of aliases.  The AA bit
                corresponds to the name which matches the query name, or
                the first owner name in the answer section.

So in this case, **the AA bit should be set**, and it corresponds to the `g.a.b. DNAME` record in the ANSWER section (I was initially surprised to see bind9 has AA set and assumed it was a bug as well..).

Anyhow, CoreDNS may be correct to have set AA, but returning zone cut NS records in the answer section is still wrong.