# [Codecov](https://codecov.io/gh/coredns/coredns/pull/3177?src=pr&el=h1) Report
> Merging [#3177](https://codecov.io/gh/coredns/coredns/pull/3177?src=pr&el=desc) into [master](https://codecov.io/gh/coredns/coredns/commit/7918190901de84e3aeeda41c80bc30ed40fdf432?src=pr&el=desc) will **decrease** coverage by `0.04%`.
> The diff coverage is `0%`.

[![Impacted file tree graph](https://codecov.io/gh/coredns/coredns/pull/3177/graphs/tree.svg?width=650&token=Ji3zZaIzpC&height=150&src=pr)](https://codecov.io/gh/coredns/coredns/pull/3177?src=pr&el=tree)

```diff
@@            Coverage Diff             @@
##           master    #3177      +/-   ##
==========================================
- Coverage   55.67%   55.63%   -0.05%     
==========================================
  Files         207      207              
  Lines       10397    10411      +14     
==========================================
+ Hits         5789     5792       +3     
- Misses       4187     4199      +12     
+ Partials      421      420       -1
```


| [Impacted Files](https://codecov.io/gh/coredns/coredns/pull/3177?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [plugin/file/xfr.go](https://codecov.io/gh/coredns/coredns/pull/3177/diff?src=pr&el=tree#diff-cGx1Z2luL2ZpbGUveGZyLmdv) | `0% <0%> (ø)` | :arrow_up: |
| [plugin/clouddns/clouddns.go](https://codecov.io/gh/coredns/coredns/pull/3177/diff?src=pr&el=tree#diff-cGx1Z2luL2Nsb3VkZG5zL2Nsb3VkZG5zLmdv) | `85.45% <0%> (+2.72%)` | :arrow_up: |

------

[Continue to review full report at Codecov](https://codecov.io/gh/coredns/coredns/pull/3177?src=pr&el=continue).
> **Legend** - [Click here to learn more](https://docs.codecov.io/docs/codecov-delta)
> `Δ = absolute <relative> (impact)`, `ø = not affected`, `? = missing data`
> Powered by [Codecov](https://codecov.io/gh/coredns/coredns/pull/3177?src=pr&el=footer). Last update [7918190...ba5956b](https://codecov.io/gh/coredns/coredns/pull/3177?src=pr&el=lastupdated). Read the [comment docs](https://docs.codecov.io/docs/pull-request-comments).


relevant RFC 1995,  Section 2, para 4

only fuzzing this is failling

I need this to go in, so I can start testing it on my server.