I thought I was mistaken, but I managed to capture some unanswered UDP NS queries 
<img width="1098" alt="Screen Shot 2020-06-10 at 5 30 06 PM" src="https://user-images.githubusercontent.com/5713245/84333269-24198700-ab44-11ea-9656-445bb0b11081.png">


Here are some graphs of metrics collected from cache instances. We have 3 upstream IPs for our DNS infra (server is in GMT).

Response volume by code across all three servers. You can see the results of a config reload at around 12:00AM GMT – things are OK for a while, but over time the first IP begins handling all of the traffic. At the very end I reordered the upstream IPs, and the first one was once again selected for the majority of requests.
![Screen Shot 2020-06-10 at 6 04 31 PM](https://user-images.githubusercontent.com/5713245/84333529-de10f300-ab44-11ea-8fdf-1e6d36add63c.png)

Health check failures. You can see the result of terminating a number of pods at the end of today – a number of counter resets.
![Screen Shot 2020-06-10 at 6 04 16 PM](https://user-images.githubusercontent.com/5713245/84333525-dc472f80-ab44-11ea-9fe4-8b4cda07bff7.png)

any dns server should support udp and tcp, so this should not be an issue

According to the spec, DNS server MUST support UDP and SHOULD support TCP: [Section 6.1.3.2 of the RFC 1123](https://tools.ietf.org/html/rfc1123#section-6.1.3.2)

In fact, this feature is easy to add, but this is up to maintainers if they want to have this code upstream.


[ Quoting <notifications@github.com> in "Re: [coredns/coredns] forward: TCP ..." ]
>According to the spec, DNS server MUST support UDP and SHOULD support TCP:
>Section 6.1.3.2 of the RFC 1123

this is obsoleted, both udp and tcp are mandatory nowadays.
