@julian7 I think a little mention of ENDS0 subnet option being read in the plugin documentation (README.md) would be helpful.

@miekg I think this is good to merge, would you like to thumb this up as well?

Cheers.

After a long pondering break, I decided to put this extra functionality behind extra configuration. First, we're dealing with a GA feature, changing the behavior of such an item can cause trouble. Second, this is also not turned on in PowerDNS by default (perhaps because of the same reason), but at least it won't cause surprises.

I've added some documentation too.

>> It's not clear what you mean by "This helps with identifying the closest source IP address".

>  I'm theorycrafting here, but in theory, public recursors can forward original requestors' IP addresses in an EDNS0 subnet attachment. We just open the gates for such a behavior.

Thanks that is what I though you meant.  How about:

"This can help identify a source IP address closer to the client when the client's dns request is processed by middleboxes (e.g. forwarding, proxy, NAT)".


# [Codecov](https://codecov.io/gh/coredns/coredns/pull/5183?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns) Report
> Merging [#5183](https://codecov.io/gh/coredns/coredns/pull/5183?src=pr&el=desc&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns) (24cea4e) into [master](https://codecov.io/gh/coredns/coredns/commit/93c57b613d420d99367f909bfe46796ed3574aec?el=desc&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns) (93c57b6) will **increase** coverage by `0.97%`.
> The diff coverage is `63.90%`.

```diff
@@            Coverage Diff             @@
##           master    #5183      +/-   ##
==========================================
+ Coverage   55.70%   56.67%   +0.97%     
==========================================
  Files         224      234      +10     
  Lines       10016    14662    +4646     
==========================================
+ Hits         5579     8310    +2731     
- Misses       3978     5844    +1866     
- Partials      459      508      +49     
```


| [Impacted Files](https://codecov.io/gh/coredns/coredns/pull/5183?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns) | Coverage Δ | |
|---|---|---|
| [core/dnsserver/address.go](https://codecov.io/gh/coredns/coredns/pull/5183/diff?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns#diff-Y29yZS9kbnNzZXJ2ZXIvYWRkcmVzcy5nbw==) | `100.00% <ø> (ø)` | |
| [core/dnsserver/config.go](https://codecov.io/gh/coredns/coredns/pull/5183/diff?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns#diff-Y29yZS9kbnNzZXJ2ZXIvY29uZmlnLmdv) | `0.00% <ø> (ø)` | |
| [core/dnsserver/onstartup.go](https://codecov.io/gh/coredns/coredns/pull/5183/diff?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns#diff-Y29yZS9kbnNzZXJ2ZXIvb25zdGFydHVwLmdv) | `0.00% <0.00%> (ø)` | |
| [plugin/auto/auto.go](https://codecov.io/gh/coredns/coredns/pull/5183/diff?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns#diff-cGx1Z2luL2F1dG8vYXV0by5nbw==) | `0.00% <0.00%> (ø)` | |
| [plugin/auto/zone.go](https://codecov.io/gh/coredns/coredns/pull/5183/diff?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns#diff-cGx1Z2luL2F1dG8vem9uZS5nbw==) | `78.94% <ø> (+0.68%)` | :arrow_up: |
| [plugin/backend\_lookup.go](https://codecov.io/gh/coredns/coredns/pull/5183/diff?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns#diff-cGx1Z2luL2JhY2tlbmRfbG9va3VwLmdv) | `0.00% <ø> (ø)` | |
| [plugin/bind/bind.go](https://codecov.io/gh/coredns/coredns/pull/5183/diff?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns#diff-cGx1Z2luL2JpbmQvYmluZC5nbw==) | `50.00% <0.00%> (-50.00%)` | :arrow_down: |
| [plugin/cache/setup.go](https://codecov.io/gh/coredns/coredns/pull/5183/diff?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns#diff-cGx1Z2luL2NhY2hlL3NldHVwLmdv) | `57.23% <ø> (-2.60%)` | :arrow_down: |
| [plugin/clouddns/gcp.go](https://codecov.io/gh/coredns/coredns/pull/5183/diff?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns#diff-cGx1Z2luL2Nsb3VkZG5zL2djcC5nbw==) | `0.00% <0.00%> (ø)` | |
| [plugin/etcd/etcd.go](https://codecov.io/gh/coredns/coredns/pull/5183/diff?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns#diff-cGx1Z2luL2V0Y2QvZXRjZC5nbw==) | `0.00% <ø> (ø)` | |
| ... and [315 more](https://codecov.io/gh/coredns/coredns/pull/5183/diff?src=pr&el=tree-more&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns) | |

------

[Continue to review full report at Codecov](https://codecov.io/gh/coredns/coredns/pull/5183?src=pr&el=continue&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns).
> **Legend** - [Click here to learn more](https://docs.codecov.io/docs/codecov-delta?utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns)
> `Δ = absolute <relative> (impact)`, `ø = not affected`, `? = missing data`
> Powered by [Codecov](https://codecov.io/gh/coredns/coredns/pull/5183?src=pr&el=footer&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns). Last update [fe9ba42...24cea4e](https://codecov.io/gh/coredns/coredns/pull/5183?src=pr&el=lastupdated&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns). Read the [comment docs](https://docs.codecov.io/docs/pull-request-comments?utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=coredns).


Maybe I've missed it. Is there anything else I can do about this change?

> Maybe I've missed it. Is there anything else I can do about this change?

I don't think so.  The PR should be reviewed and approved by a code owner for this plugin.
I'm not a code owner for geoip, and I'm not at all familiar with the geoip backend database.
That said, looking at the code, my understanding is that edns0 subnet typically holds a an IP prefix aka subnet, not a complete IP address.  I see pulling the address portion of the subnet, and using that as a db lookup on IP addresses as problematic. 


> I see pulling the address portion of the subnet, and using that as a db lookup on IP addresses as problematic.

Good point @chrisohaver, a simple solution could be to support complete addresses only by ignoring `EDNS0_SUBNET` if:

- Family == ipV4 && SourceMask != 32
- Family == ipV6 && SourceMask != 128

Thoughts?


> > I see pulling the address portion of the subnet, and using that as a db lookup on IP addresses as problematic.
> 
> Good point @chrisohaver, a simple solution could be to support complete addresses only by ignoring `EDNS0_SUBNET` if:
> 
> * Family == ipV4 && SourceMask != 32
> * Family == ipV6 && SourceMask != 128
> 
> Thoughts?

Yeah. That seems reasonable. 


> > > I see pulling the address portion of the subnet, and using that as a db lookup on IP addresses as problematic.
> > 
> > 
> > Good point @chrisohaver, a simple solution could be to support complete addresses only by ignoring `EDNS0_SUBNET` if:
> > 
> > * Family == ipV4 && SourceMask != 32
> > * Family == ipV6 && SourceMask != 128
> > 
> > Thoughts?
> 
> Yeah. That seems reasonable.

Counter-example: In [RFC 7871 section 13](https://datatracker.ietf.org/doc/html/rfc7871#section-13) example, the recursive DNS resolver conceals the last 72 bits of the source IP address, leaving only the first 56 through for geoip resolution. Likewise, in [NS1's ECS document](https://help.ns1.com/hc/en-us/articles/360020256573-About-the-EDNS-Client-Subnet-ECS-DNS-extension), they mention that recursive DNS resolvers often hide the last byte of an IPv4 address.

>> Yeah. That seems reasonable.

> Counter-example ...

That seems supportive rather than counter. For example, IPv4s in adjacent /25 subnets could be in different locations. If an IP from one of those /25s is masked at 24 bits, the look up algorithm could select the wrong location.

Perhaps there are some generally adopted practices that make this not a problem. E.g. for ipv4, if...
* geo location data is never more granular than /24 for ipv4
* resolvers never mask out more than the last byte of an ipv4

Then we could ignore ipv4 ECS when mask < 24, and accept everything >= 24.

But I suspect those bullets are not universally true.

> > > Yeah. That seems reasonable.
> 
> > Counter-example ...
> 
> That seems supportive rather than counter. For example, IPv4s in adjacent /25 subnets could be in different locations. If an IP from one of those /25s is masked at 24 bits, the look up algorithm could select the wrong location.

The amount of bits hidden is not our choice. The one who made the choice has to deal with inaccuracies caused by hiding bits.

> Perhaps there are some generally adopted practices that make this not a problem. E.g. for ipv4, if...
> 
> * geo location data is never more granular than /24 for ipv4
> * resolvers never mask out more than the last byte of an ipv4
> 
> Then we could ignore ipv4 ECS when mask < 24, and accept everything >= 24.

Generally speaking, if any edns subnet is provided, it is more accurate than the source IP. The worst case is if the database can’t tell where an IP address (it works with ip ranges too) is coming from.

Usually, inaccuracies in geoip are both common and benign. There are cases when geoip is used as a geofence, but i’d rather recommend against making harder decisions like GDPR enforcement based on such information.

Most inaccuracies are coming from the database, as in most cases, a stale version of the free version is used. There were just one or two cases I could see anything significant because of an error like this, over five years of running a geoip-aware service.

If someone wants to implement such an extension to the module, that’s great. I, however, still think it is not worth the effort.



I guess users configuring `edns-subnet` option (which is not set by default) would have to evaluate themselves their use case, along with the geoIP database used and the impact of potential inaccuracies.

From my side, and unless anyone feel against I will have a second read of the entire change since it'd being a while the last time I've read it, then if everything is alright I'll merge.

Thanks.

> I guess users configuring edns-subnet option (which is not set by default) would have to evaluate themselves their use case, along with the geoIP database used and the impact of potential inaccuracies.

Those potential inaccuracies should be documented in the readme so users can evaluate it before deploying it. 


> Those potential inaccuracies should be documented in the readme so users can evaluate it before deploying it.

Agreed.

@julian7 Thanks for your contribution and patience! Would you mind adding a note in the plugin documentation about those inaccuracies derived from (potentially) looking up using IP with "hidden" bits? That way users would be in a better position deciding to enable `edns-subnet` or not. 

> @julian7 Thanks for your contribution and patience! Would you mind adding a note in the plugin documentation about those inaccuracies derived from (potentially) looking up using IP with "hidden" bits? That way users would be in a better position deciding to enable `edns-subnet` or not.

@snebel29  I've made some changes, please have a look.

I'm still leery of using a masked IP to lookup a value in an unmasked IP based  dataset.
I expect it's possible that the masked IP could result in no geo location data returned.  When this happens, would it make sense to fall back to using the source IP?

@julian7, have you had an opportunity to test how masked IP lookups via the geoip db actually behave?





> I'm still leery of using a masked IP to lookup a value in an unmasked IP based dataset. I expect it's possible that the masked IP could result in no geo location data returned. When this happens, would it make sense to fall back to using the source IP?
> 
> @julian7, have you had an opportunity to test how masked IP lookups via the geoip db actually behave?

I've ran a query on my public IP address, using a not too recent copy of GeoLite2 Cou:

```
❯ for i in A.B.C.D A.B.C.0 A.B.0.0 A.0.0.0; mmdblookup --file GeoLite2-City.mmdb --ip $i country iso_code; end | grep -Ev '^$'
  "HU" <utf8_string>
  "HU" <utf8_string>
  "HU" <utf8_string>
  "HR" <utf8_string>
```

where A, B, C and D are the octets of my IP address, and I indeed live in Hungary. I've tested it on city names too, and even the most recent GeoLite2-City couldn't tell my city with all four octets, however, the /24 and /16 queries could still tell the county name accurately.

Fun fact, the location in /8 form is in a range I'd rather go to, Zadar is less than 1:30h away from the place :)

> I've ran a query on my public IP address ...

Thanks for testing it!

I guess that the way the data is stored is by subnet (or ip-ranges) for regions (e.g. counties, cities, etc), and the algorithm checks those subnets/ranges against the  looked-up IP.  The problem with sending a masked IP is that the algorithm can't tell the difference between unmasked zeros, and masked zeros, and could incorrectly provide a precise location to a masked IP (treating masked zeros as real zeros).  I'm kind of surprised the lookup algorithm doesn't accept a mask argument to help prevent that, but perhaps that level of correctness is not deemed important given the already inherent inaccuracy of geo-ip location data.



Yesterday I took a *quick* look to geoIP PDNS module source code, which is
using the same backend and I had the impression they were also doing
lookups with just the IP address too, whether full or masked.

Even if you could lookup passing the mask, there is no guarantees the
“subnet” would match perfectly with the ones in the database, there could
be an overlap, intermediate resolver could have masked differently that
classified in the DB, etc.

I agree this is not the level of accuracy of what we would instinctively
expect and/or like it to be, I guess geoIP databases are inherently
inaccurate, more if you add edns-subnet into the mix.

On Mon 2 May 2022 at 15:13, chrisohaver ***@***.***> wrote:

> I've ran a query on my public IP address ...
>
> Thanks for testing it!
>
> I guess that the way the data is stored is by subnet (or ip-ranges) for
> regions (e.g. counties, cities, etc), and the algorithm checks those
> subnets/ranges against the looked-up IP. The problem with sending a masked
> IP is that the algorithm can't tell the difference between unmasked zeros,
> and masked zeros, and could incorrectly provide a precise location to a
> masked IP (treating masked zeros as real zeros). I'm kind of surprised the
> lookup algorithm doesn't accept a mask argument to help prevent that, but
> perhaps that level of correctness is not deemed important given the already
> inherent inaccuracy of geo-ip location data.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/coredns/coredns/pull/5183#issuecomment-1114935550>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ACE6Z3KOYVNL5Y6L2AIPO2DVH7PKHANCNFSM5OEATO4Q>
> .
> You are receiving this because you were mentioned.Message ID:
> ***@***.***>
>


> Even if you could lookup passing the mask, there is no guarantees the
“subnet” would match perfectly with the ones in the database, there could
be an overlap, intermediate resolver could have masked differently that
classified in the DB, etc.

It wouldn't be looking for a perfect match, rather looking for subnets/ranges that enclose the queried subnet. If it can't find one, then either ...
* the queried subnet contains IPs that have no location data.
* and or the queried subnet contains IPs with different locations.

Subnet range comparisons can be expensive, so perhaps while more correct, it's judged not worth the trouble especially given the level of quality of the base data.  Anyways, this is digression.  The geoip lookup algorithms are there way they are.

Jumping back to an earlier question: If the ECS IP query produces no location data, is no location data better than location data based on the source IP?  IOW Should this plugin fallback on using source IP when the ECS IP query fails?  Or is the presence of an ECS somewhat indicating that the source IP is distant enough from the original client's IP that a nil location is "less wrong" than reporting the source IP location.





> Jumping back to an earlier question: If the ECS IP query produces no location data, is no location data better than location data based on the source IP? IOW Should this plugin fallback on using source IP when the ECS IP query fails? Or is the presence of an ECS somewhat indicating that the source IP is distant enough from the original client's IP that a nil location is "less wrong" than reporting the source IP location.

It is a good question I have no strong opinion for, at first glance It does feel like different use cases may want different things, some may prefer to have "some" data while others would rather have no data.

Right now, I do feel we are probably better off by keeping it simple rather than trying to be smart, and adding complexity through the addition of options when a specific use case appears.

WDYT?



> Right now, I do feel we are probably better off by keeping it simple rather than trying to be smart, and adding complexity.

I wasn't proposing adding an option.  It could be implemented either way, one is no more complex than the other.  If you don't have an opinion, we can leave it as is - i.e. no data is better than source ip based data when ECS is present.  I think I lean in that direction as being the better behavior. IMO, ECS present in a request generally indicates that the source IP should be ignored in this context.
